
@{
    ViewData["Title"] = "Nedozvoljen pristup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-danger">Nemate pravo pristupa ovoj stranici&nbsp;<i class="fa fa-exclamation-circle fa-large"></i></h2>


