@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Zaboravljena lozinka potvrda";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>
        Molimo vas da provjerite vašu e-poštu kako bi resetovali lozinku.
    </p>
</div>

