@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Zaboravljena lozinka potvrda";
}

<h2>@ViewData["Title"]</h2>
<p>
    Molimo vas da provjerite vašu e-poštu kako bi resetovali lozinku.
</p>

