@page
@model LockoutModel
@{
    ViewData["Title"] = "Blokiran nalog";
}

<div class="container">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Ovaj nalog je blokiran, molimo vas pokušajte kasnije.</p>
    </header>
</div>
