@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Resetovanje lozinke potvrda";
}

<h2>@ViewData["Title"]</h2>
<p>
    Vaša lozinka je resetovana. Prijavite se <a asp-page="./Login">klikom ovdje</a>.
</p>
